@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

:root{
	--darkblue: #1D3557;
	--blue: #457B9D;
	--lightblue:#A8DADC ;
	--white: #F1FAEE;
	--red: #E63946;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto' , sans-serif;
}

p{
	line-height: 1.5;
	margin-top: 10px;
}

.flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.link{
	color: var(--white);
	text-decoration: none;
}

/*HEADER*/

.header{
	align-items: center;
	background-color: var(--darkblue);
	padding: 20px;
	color: var(--white);
}

.logo__image{
	height: 50px;
	width: 50px;
}

.menu-nav__button{
	display: inline;
	padding-left: 15px;
	font-size: 0.9rem;
}

.header__button{
	background-color: var(--red);
	padding: 3px 5px;
	border-radius: 6px;
	text-decoration: none;
	color: var(--white);
	font-size: 0.8rem;
}


/*FOOTER*/

.footer{
	align-items: center;
	background-color: var(--darkblue);
	padding: 20px;
	color: var(--white);
	border: 1px solid green;
	font-size: 0.8rem;
}

.footer-list{
	list-style-type: none;
}

.footer-list__link{
	display: inline;
	padding-left: 5px;
}


/*MAIN*/
.main__cover{
	width: 100%;
	height: 220px;
}

.section {
	margin: 50px 20px;
}

.section__title-h1{
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	color: var(--blue);
	margin-bottom: 10px;
	border-bottom: 1px solid var(--blue);
}

.section__title-h2{
	margin-bottom: 10px;
	border-bottom: 1px solid var(--blue);
	color: var(--blue);
	font-size: 1.6rem;
	font-family: 'Roboto Slab' , serif;
}


/* HOME */

/* bio */
.section-biography__img{
	width: 100%;
	margin: 30px 0px;
}

/* noveles */

.novels__gallery{
	background-color: var(--darkblue);
	color: var(--white);
	font-size: 1.5rem;
	text-align: center;
	margin: 30px 0px;
	cursor: pointer;
}

.novels__gallery-img{
	width: 100%;
}

.novels__gallery-title{
	padding: 5px;
}


/* premis */
.section-prize__list{
	margin: 20px 0px;
	list-style: none;
	background-color: var(--lightblue);
	color: var(--blue);
}

.section-prize__list-element{
	border: 1px solid var(--blue);
	padding: 10px;
}

.section-prize__logos{
	display: none;
}

/* TERROR */

.cover-genre{
	background-image: url(images/portadaTerror.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

}

.cover-genre__title{
	padding: 100px 0px;
	text-align: center;
	color: var(--white);
	font-size: 3rem;
	font-family: 'Roboto slap' , serif;
}


.breadcrumb__list{
	margin: 20px;
	font-size: 0.8rem;
}

.breadcrumb__list-element{
	display: inline;
	list-style-type: none;
}

.breadcrumb__list-element--active{
	text-decoration: underline;
}

.breadcrumb__list-element--link{
	text-decoration: none;
	color: initial;
}

.novel-article{
	margin: 50px 0px;
}

.novel-article__title{
	margin-bottom: 10px;
	text-decoration: underline;
	font-size: 1.5rem;
}

.novel-article__link{
	background-color: var(--red);
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 5px;
	color: var(--white);
}

/* DETALL */

.section-intro__figure{
	margin: 30px 0px;
	text-align: center;	
	width: 100%;
}
.section-intro__figure-img{
	width: 80%;	
}

.section-detail__video{
	width: 100%;
	margin: 20px 0px;
	border: none;
}

.section-more-books__list{
	text-align: center;
	margin: 20px 0px;
}

.section-more-books__list-element{
	display: inline;
	list-style-type: none;
	margin-right: 10px;
}

.section-more-books__list-element--link{
	text-decoration: none;
	color: var(--black);
}

@media only screen and (min-width: 768px) {

	.header{
		font-size: 1.2rem;
		padding: 1% 5%;
	}

	.menu-nav__button{
		margin-left: 50px;
	}

	.section{
		padding: 2% 5%;
		margin: 50px 0px;
	}
	
	.section__title-h1{
		text-align: center;
		border: none;
		font-family: 'Roboto slap' , serif;
		font-size: 3rem;
	}

	.section__text{
		text-align:center;
		margin: 1% 20%;
	}

	.footer{
		padding: 1% 5%;
		height: 80px;
	}

	#modal .modalStyle{
  		width: 300px;
  		background: var(--lightblue);
  		border: 2px solid var(--darkblue);
  		padding: 30px 45px;
  		text-align: center;
  		border-radius: 6px;
  		font-size: 2rem;
}


	/*HOME*/

	.main__cover{
		object-fit: cover;
		height: 340px;
	}

	/*biografia*/

	.section-biography__intro{
		width: 50%;
		padding-right: 50px;
	}

	.section-biography__img{
		width: 50%;
		padding-left: 50px;
	}

	
	/*noveles*/

	.novels__gallery{
		width: 30%;
		margin: 20px 0;
	}
	
	/*premis*/
	.section-prize__list{
		display: none;
	}
	
	.section-prize__logos{
		display: flex;
		margin-top: 20px;
	}
	
	.section-prize__logos-item {
		text-align: center;
		font-size: 0.8rem;
	}

	.fas{
		color: var(--red);
		padding-bottom: 10px;
	}
	
	/*GEN-TERROR*/

	.breadcrumb__list{
		margin: 1% 5%;	
	}

	.section-novels{
		margin: 0px;
	}

	.section-novels-list{
		display: flex;
		justify-content: flex-start;
	}

	.novel-article{
		width: 30%;
		padding-right: 50px;
		padding-bottom: 30px;
		margin: 20px 0;

	}

	
	/* Detall */

	.section-detail{
		margin: 0;
	}

	.section-detail .section__title-h1{
		text-align: left;
		border-bottom: 1px solid var(--blue);
	}

	.section-intro-detail{
		align-items: center;
	}

	.section-intro__text{
			width: 50%;
	}

	.section-intro__figure{
		width: 50%;
		padding-left: 50px;

	}

	.section-intro__figure-img{
		width: 200px;
	}

	.section-detail__video{
		width: 100%;
		height: 420px;
	}	
}




